<div class="wrap">
  
  <h1>TO-DO LIST</h1>
  
  <div class="todo-form">
    <div class='add whiteBlock'>
      <input autofocused type="text" placeholder="Type what you want to do.." name='todoItem' [(ngModel)]='todoItem.text' #todoInput='ngModel' required>
      <input [disabled]='todoInput.invalid' class='submit'  type="submit" value="add" (click)='submit()'>
    </div>
    
    <div class="todo-items">
      
      <div class="item whiteBlock" *ngFor='let item of todoList; let i = index'>
        <img src="{{item.image}}" alt="">
        <input type="text" value="{{item.text}}">
        <input type="button" (click)='delete(i)' class="material-icons" value="delete">
      </div>

    </div>


  </div>


</div>